{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}


<h1>{{ title }}</h1>
{% if extra_text %}{{ extra_text }}{% endif %}
<br><br>
<div class="row">
  <div class="col-md-{% if col_size %}{{ col_size }}{% else %}4{% endif %}">
    <a href="{{ url_for('questions.report') }}" target="_blank" role="button">Download report</a>
  </div>
</div>
<div class="row">
  <img src="/static/images/{{ case_id }}.png">
</div>
<br>
<div>
  <h2>Advies</h2>
  {% for group in groups_dict["groups"] %}
    {% if groups_dict[group]["group"].group_type == "likert" %}
      <hr>
      <h4>{{ groups_dict[group]["group"].title }}</h4>
      {% for text in groups_dict[group]["group"].get_texts(groups_dict[group]["score"]) %}
        <p>{{ text.text }}</p>
      {% endfor %}
    {% endif %}
  {% endfor %}
</div>
<br><br>
<div class="card">
  <h2>Gestelde vragen en antwoorden</h2>
  {% for group in groups_dict["groups"] %}
    <hr>
    <h4>{{ groups_dict[group]["group"].title }}</h4>
    {% if groups_dict[group]["group"].group_type == "likert" %}
    <p><strong>Score: </strong> {{ groups_dict[group]["score"] }}</p>
    {% endif %}
    {% if groups_dict[group]["group"].description %}
    <p><em>{{ groups_dict[group]["group"].description }}</em></p>
    {% endif %}
    {% for question in groups_dict[group]["questions"] %}
    <p>
      <strong>{{ question["question"].question }}: </strong>
      {{ question["answer"].format_answer() }}
    </p>
    {% endfor %}
  {% endfor %}
</div>
{% endblock %}