{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>{{ title }}</h1>
{% if extra_text %}{{ extra_text }}{% endif %}
<br><br>
<div class="row">
  <div class="col-md-{% if col_size %}{{ col_size }}{% else %}4{% endif %}">
    <form action="" method="post">
      {{ form.hidden_tag() }}
      <div id="email-report-form">
        {{ form.answer.label }}<br>
        {{ form.answer() }}<br><br>
        {{ form.submit() }}
      </div>
    </form>
    <br>
    <a href="{{ url_for('questions.report') }}" target="_blank" role="button">Download report</a>
  </div>
</div>
<br>
<div class="card">
  <h2>Gestelde vragen en antwoorden</h2>
  {% for group in groups_dict["groups"] %}
    <hr>
    <h4>{{ groups_dict[group]["group"].title }}</h4>
    <p><em>{{ groups_dict[group]["group"].description }}</em></p>
    {% for question in groups_dict[group]["questions"] %}
    <p>
      <strong>{{ question["question"].question }}: </strong>
      {{ question["answer"].answer }}
    </p>
    {% endfor %}
  {% endfor %}
</div>
{% endblock %}