{% extends 'base.html' %}


{% block app_content %}
<div class="container" style="border-bottom: 1px solid lightgrey; margin-bottom: 25px; margin-top: 40px;">
  <h4>{{ question_group.title }}</h4>
  <p>{{ question_group.description }}</p>
</div>


<form action="" method="post">
  {{ form.hidden_tag() }}

  <div class="container" id="question-form">
    {% if question_group.group_type == "likert" %}
      {% include 'forms/likert.html' %}
    {% else %}
      {% include 'forms/other.html' %}    
    {% endif %}
  </div>

  <hr>

  <div class="container">
    <p>{{ form.submit() }}</p>
  </div>
</form>
{% endblock %}