{% extends 'base.html' %}

{% block content %}  
  <form action="" method="post">  
      <p>
          <h4><u>In hoeverre bent u het met onderstaande stellingen eens?</u><br></h4>
      </p>

      <p>
        {% for q in questions %}
        <br>
        {{ q }}
        <br><br>
        {% for subfield in form.answer %}
        <tr>
         <td>{{ subfield }}</td>
         <td>{{ subfield.label }}</td>
        </tr>
        {% endfor %}
        {% for error in form.answer.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        {% endfor %}
      </p>

      <p>{{ form.submit() }}</p></center><br>
    </form>
{% endblock %}