{% extends 'base.html' %}

{% block app_content %}
<div class="container">
  <h4>Start vragenlijst - Login</h4>
</div>
<form action="" method="post">
  {{ form.hidden_tag() }}

  <div class="container" id="login-form">
    {{ form.code.label }}<br>
    {{ form.code() }}<br>
    <br>

    <div class="card" id="privacy">
      <h5>
        PRIVACY VERKLARING
      </h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sollicitudin ac orci phasellus egestas. Varius sit amet mattis vulputate. Sit amet consectetur adipiscing elit ut. Sit amet est placerat in egestas erat imperdiet. Sed arcu non odio euismod. Consectetur adipiscing elit ut aliquam purus sit amet luctus. Viverra vitae congue eu consequat ac. Porttitor massa id neque aliquam. Mi tempus imperdiet nulla malesuada pellentesque. Ornare lectus sit amet est placerat in egestas.
      </p>
      <p>
        Tristique senectus et netus et. Maecenas pharetra convallis posuere morbi. Etiam sit amet nisl purus in mollis nunc sed. A diam maecenas sed enim ut sem viverra aliquet. Leo vel orci porta non pulvinar neque laoreet. Laoreet sit amet cursus sit. Urna id volutpat lacus laoreet non curabitur. Dui faucibus in ornare quam viverra orci sagittis eu volutpat. Maecenas volutpat blandit aliquam etiam erat velit scelerisque in dictum. Quis eleifend quam adipiscing vitae. A lacus vestibulum sed arcu non odio euismod lacinia.
      </p>
    </div>

    <br>

    {{ form.submit() }}
  </div>
</form>
{% endblock %}